{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>{{ app.translator.trans('homepage_top_hello') }}</h1>
        <p>I'm a web developer, 
        an amateur entrepreneur and a student. I've been around for {{ beenalivefor }}.
		</p>
        <p>
       	<a href="http://www.facebook.com/batuhanicoz">
    		<img src="./assets/img/icons/facebook-32x32.png" alt="Facebook" />
       	</a>
        <a href="https://github.com/batuhanicoz">
        	<img src="./assets/img/icons/github-32x32.png" alt="Github" />
        </a>
		<a href="http://shareables.me">
			<img src="./assets/img/icons/tumblr-32x32.png" alt="Tumblr" />
		</a>
  		<a href="http://foursquare.com/batuhanicoz">
  			<img src="./assets/img/icons/foursquare-32x32.png" alt="Foursquare" />
  		</a>
		<a href="http://www.linkedin.com/in/batuhanicoz">
			<img src="./assets/img/icons/linkedin-32x32.png" alt="LinkedIn" />
		</a>
		<a href="https://plus.google.com/107704817814341858380">
			<img src="./assets/img/icons/google+-32x32.png" alt="Google+" />
		</a>
		<a href="http://last.fm/user/batuhanicoz">
			<img src="./assets/img/icons/lastfm-32x32.png" alt="Last.fm" />
		</a>
		<a href="http://www.formspring.me/batuhanicoz">
			<img src="./assets/img/icons/formspring-32x32.png" alt="Formspring" />
		</a>
		<a href="http://twitter.com/batuhanicoz" class="twitter-follow-button" data-show-count="false">Follow @batuhanicoz</a>
		</p>
		<p>
			<a class="btn primary large">{{ app.translator.trans('homepage_l_about_me') }} &raquo;</a>
			<a class="btn primary large">{{ app.translator.trans('homepage_l_my_projects') }} &raquo;</a>
			<a class="btn primary large">{{ app.translator.trans('homepage_l_contact_me') }} &raquo;</a>
		</p>
      </div>

    </div> <!-- /container -->

{% endblock %}