<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Fırat Batuhan İçöz</title>
    <meta name="description" content="{{ desc }}">
    <meta name="author" content="Fırat Batuhan İçöz">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="assets/css/bootstrap-1.2.0.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <!-- Topbar
    ================================================== -->
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">{{ app.translator.trans('l_batuhans') }}</a></h3>
          <ul class="nav">
	      	<li class="active"><a href="http://{{ app.bi_domain }}/">{{ app.translator.trans('l_homepage') }}</a></li>
	      	<li><a href="http://{{ app.bi_domain }}/{{ app.translator.trans('route_about') }}">{{ app.translator.trans('l_about_me') }}</a></li>
	      	<li><a href="http://changelog.batu.me">Changelog</a></li>
	      	<li><a href="http://blog.batu.me">Blog</a></li>
	      	<li><a href="http://batu.me/projects">Projects</a></li>
	      	<li><a href="http://shareables.me">Shareables</a></li>
	      	<li><a href="http://{{ app.bi_domain }}/{{ app.translator.trans('route_contact') }}">{{ app.translator.trans('l_contact_me') }}</a></li>
          </ul>
          <ul class="nav secondary-nav">
			<li></li>
		  </ul>
        </div>
      </div>
    </div>

	<div class="container">
		<div class="alert-message info">
        <a class="close" href="#">&times;</a>
        <p><strong>Merhaba!</strong> Bilgisayarınızı Türkçe kullandığınızı farkettim, sitemin Türkçe versiyonuna <a href="http://batuhanicoz.com.tr">buradan</a> ulaşabilirsiniz.</p>
      </div>
    </div>

      {% block content %}{% endblock %}
      
    <div class="container">
    	<footer>
        	<p>
				&copy; 2011 Fırat Batuhan İçöz
			</p>
		</footer>
    </div>
    
    <!-- Le javascript -->
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	<!-- Piwik --> 
	<script type="text/javascript">
	var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.batu.me/" : "http://stats.batu.me/");
	document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script type="text/javascript">
	try {
	var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 9);
	piwikTracker.trackPageView();
	piwikTracker.enableLinkTracking();
	} catch( err ) {}
	</script><noscript><p><img src="http://stats.batu.me/piwik.php?idsite=9" style="border:0" alt="" /></p></noscript>
	<!-- End Piwik Tracking Code -->
  </body>
</html>
